@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --bg-1: hsl(0, 0%, 100%);
    --bg-2: hsl(206, 20%, 90%);
    --bg-3: hsl(206, 20%, 80%);
    --fg-1: hsl(0, 0%, 13%);
    --fg-2: hsl(0, 0%, 20%);
    --fg-2: hsl(0, 0%, 30%);
    --link: hsl(208, 77%, 47%);
    --border-radius: 4px;
    font-family: Inter, sans-serif;
    background: var(--bg-1);
    color: var(--fg-1);
    line-height: 1.5;

    height: calc(100vh - 2rem);
}
nav {
    position: relative;
    display: flex;
    gap: 1em;
    padding: 1em;
    margin: 0 0 1em 0;
    border-radius: var(--border-radius);
}